<section class="d-flex flex-column align-items-center">
    <h1 class="p-5 my-3" style="color: gold;">PROFILE FOR USERS ADMINISTRATION</h1>
    <h6 class="ms-5" style="color: gold;">Codigo para funcionalidad de limpieza de usuarios se encuentra en backend</h6>
    <div id="message"></div>
    <div class="py-5">
        <table class="mt-2 mb-5" border="1" style="border-collapse: collapse;">
            <tr>
                <th style="color: gold; text-align: center; padding: 10px; border: 1px solid black;">Name</th>
                <th style="color: gold; text-align: center; padding: 10px; border: 1px solid black;">Email</th>
                <th style="color: gold; text-align: center; padding: 10px; border: 1px solid black;">Role</th>
                <th style="color: gold; text-align: center; padding: 10px; border: 1px solid black;">Option</th>
            </tr>
            {{#each users}}
                <div id="idUser{{@index}}" class="d-none">{{ _id }}</div>
                <tr>
                    <td id="firstName" style="color: gold; padding: 10px; border: 1px solid black;">{{ first_name }}</td>
                    <td id="email" style="color: gold; padding: 10px; border: 1px solid black;">{{ email }}</td>
                    <td style="color: gold; padding: 10px; border: 1px solid black;">
                        <input id="role" type="text" value="{{ role }}">
                    </td>
                    <td style="color: gold; padding: 10px; border: 1px solid black;">
                        <button id="btnUpdateRole" data-user-index="{{@index}}" style="color: gold; background-color: black">Update rol</button>
                        <button id="btnRemoveUser" data-user-index="{{@index}}" style="color: gold; background-color: black">Delete user</button>
                    </td>
                </tr>
            {{/each}}
        </table>
        <div class="d-flex justify-content-center mt-5">
            <button id="btnback" class="btn btn-warning">Return</button>
        </div>
    </div>
</section>

<script src="/js/adminUsers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.12/sweetalert2.all.min.js"></script>